nav {
  display: flex;
  height: 4rem;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  background-color: salmon;
}

nav > a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

nav > a:hover {
  background-color: red;
}

.imgs {
  height: 400px;
  display: flex;
  flex-direction: row;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}
