nav {
    display: flex;
    height: 4rem;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    background-color: salmon;
}

nav > a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav > a:hover {
    background-color: red;
}