html {
  margin: 0px;
}
body {
  height: 100vh;
  margin: 0px;
}
.container {
  display: grid;
  height: inherit;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 100px 1fr 100px;
}

#navbar {
  grid-column: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row: span 3;
}

#title {
  grid-column: span 4;
}

#content {
  grid-column: span 4;
}

#footer {
  grid-column: span 4
}
